<div class="contents row">
 <%= form_tag('/hospitalk', method: :post) do %>
   <h3>
    Write Remark
   </h3>
   <input placeholder="Username" type="text" name="remarkuser">
   <input placeholder="Hospital Name" type="text" name="remarkhospital">
   <input placeholder="Hospital Address" type="text" name="address">
   <input placeholder="Remark" type="text" name="contents">
   <input placeholder="Ranking(1~10)" type="text" name="point">   
   <input type="submit" value="SENT">
 <% end %>
</div>